/* Efeitos Globais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* position: relative, porque serão posicionado elementos filhso dentros desses containers*/
.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página*/

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #604829;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-topo img {
    width: 75px;

}

.links-topo {
    display: flex;
    justify-content: space-evenly;
}

.links-topo a {
    margin: 0 10px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 3px 5px 2px #000000;
    color: #c4a47c;
    letter-spacing: 2px;
}

/* Seção Banner */

.container-parallax1 {
    background-image: url("/assets/parallax-imagem1.png");
    height: 100vh;
}

.container-parallax1 h1 {
    position: absolute;
    color: #fff;
    width: 100%;
    top: 45%;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 100px;
    font-weight: 400;
}

/* Seção Informações */

.container-texto {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.container-texto h2 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0 20px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    letter-spacing: 1px;
    line-height: 34px;
}

.container-parallax2 {
    background-image: url("/assets/parallax-imagem2.jpg");
    height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
    position: relative;
    width: 500px;
    top: 45%;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}

.container-parallax3 {
    background-image: url("/assets/parallax-imagem3.jpg");
    height: 50vh;
}

/* Seção Contatos */

.container-parallax4 {
    background-image: url("/assets/parallax-imagem4.png");
    height: 100vh;
}

#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#contatos div h2 {
    background-color: #604829;
    width: 500px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #604829;
    color: #fff;
    text-shadow: 0px 6px 8px #000000;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 36px;
}

/* Seção Horários */

.container-parallax5 {
    background-image: url("/assets/cafeteria.jpg");
    height: 85vh;
}

#horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#horarios h2 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: 20px;
}

.lista-horarios {
    width: 768px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    list-style: none;
}

.lista-horarios li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    
}

.lista-horarios li div {
    width: 70%;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 13%;
}

.texto-marrom {
    color: #c4a47c;
}

.lista-horarios p {
    color: #acacac;
}